header
  h1
    a(href=`${prefix}/`)
      img(src="/coffeecup.png")
    a.brand(href=`${prefix}/`) Cafe and Cowork
    .spacer
    .language-picker
      a(href=`${url}`) EN
      a(href=`/zh-tw${url}`) 中文
    a.icon(href="https://www.instagram.com/cafeandcowork/" target="_blank").umami--click--header-instagram
      i.fa.fa-instagram