header
  h1
    a(href=`${prefix}/`)
      img(src="/coffeecup.png")
    a.brand(href=`${prefix}/`) Cafe and Cowork
    .spacer
    a.icon(href="https://www.instagram.com/cafeandcowork/" target="_blank")
      i.fa.fa-instagram