
/* ========== Base ========== */
  
html, body {
  height: 100%;
}

body {
  margin: 0;
}

body, input, textarea, select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

.wrap {
  padding: 30px;
  min-height: 100%;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.scroll-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
}

[v-cloak] {
  display: none;  
}

main {
  padding: 30px 30px 0 30px;
}



/* ========== Header ========== */

header {
  margin-top: -10px;
  position: relative;
}

header h1 {
  margin-top: 0;
  font-weight: 300;
  font-size: 2.3em;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

header a.brand:hover {
  border-bottom: solid 2px black;
}

header a+a {
  margin-left: 10px;
}

header b {
  font-weight: 600;
  margin-left: 3px;
}

header img {
  height: 50px;
  position: relative;
  top: 10px;
  margin-right: 15px;
}

header a.icon {
  margin-left: 15px;
  opacity: 0.1;
}

header a.icon:hover {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  header h1 {
    font-size: 2em;
  }
  header img {
    height: 40px;
    margin-right: 5px;
    top: 8px;
  }
}

/* ========== Footer ========== */

footer {
  margin-top: 30px;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.8em;
}

footer a {
  display: inline-block;
  text-decoration: none;
  margin: 3px 10px;
}

footer .fa {
  margin-right: 4px;
}



/* ========== Map ========== */

.map {
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

#map {
  height: 300px;
}

.mapboxgl-popup-content {
  padding: 15px;
  line-height: 1.4;
}



/* ========== Search ========== */

.search {
  margin-bottom: 20px;
}

.search input {
  width: 100%; 
  border-radius: 4px;
  border: solid 1px #ccc;
  padding: 8px 10px;
}

.search input:active, .search input:focus {
  border: solid 1px blue;
  outline: none;
}



/* ========== Table ========== */

table {
  border-collapse: collapse;
  font-size: 16px;
}

table a {
  text-decoration: none;
}

td {
  padding: 8px 16px;  
}

th {
  font-weight: bold;
  text-align: left;
  border-bottom: solid 2px #eee;
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
}

td {
  white-space: nowrap;
  border-bottom: solid 1px #eee;
}

td.empty {
  padding: 16px;
}

td.truncate {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
}

tr .edit {
  visibility: hidden;
}

tr:hover .edit {
  visibility: visible;
}

tr.closed {
  text-decoration: line-through;
  color: rgba(0,0,0,0.3);
}



/* ========== Colors ========== */

.blue {
  color: #3498db;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #f1c40f;
}

.orange {
  color: #f39c12;
}

.red {
  color: #e74c3c;
}

.grey {
  color: #ccc;
}

.info {
  font-weight: 300;
  color: rgba(0,0,0,0.4);
}



/* ========== Index ========== */

.index .columns {
  display: flex;
  margin: -20px;
  flex-wrap: wrap;
}

.index .column {
  width: 100%;
  padding: 0 20px 30px 20px;
}

@media screen and (min-width: 700px) {
  .index .column {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .index .column {
    width: 33%;
  }
}

.index h2 {
  padding: 8px 0;
  margin-bottom: 10px;
  border-bottom: solid 2px black;
}

.index h2 a {
  text-decoration: none;
}

.index h2 .info {
  margin-left: 10px;
}

.index .list a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
}

.index .list a:hover .name {
  text-decoration: underline;
}

.index .score {
  margin-left: 5px;
}

.index .star {
  margin-left: 3px;
}

.index .details {
  margin-top: 3px;
  font-size: 0.8em;
  color: rgba(0,0,0,0.4);
}

.index .fa-angle-right {
  margin-left: 10px;
}

.index a.more {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}



/* ========== City ========== */

.city h2 {
  margin: 0 0 20px 0;
  white-space: nowrap;
  overflow: auto;
}

.city h2 a {
  text-decoration: none;
  font-weight: 300;
  color: rgba(0,0,0,0.4);
  padding: 8px 0;
  display: inline-block;
}

.city h2 a.active {
  font-weight: 600;
  color: black;
  border-bottom: solid 2px black;
}

.city h2 a:hover {
  border-bottom: solid 2px rgba(0,0,0,0.4);
}

.city h2 a+a {
  margin-left: 20px;
}



/* ========== Place ========== */

.place {
  max-width: 700px;
  margin: 0 auto;
}

.place h2 {
  padding: 8px 0;
  margin: 0 0 10px 0;
  border-bottom: solid 2px black;
}

.place .info {
  font-weight: 300;
  color: rgba(0,0,0,0.5);
}

.place .city {
  margin-right: 5px;
}

.place .closed {
  margin-left: 10px;
}

.place .updated {
  margin-left: 5px;
}

.place dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-radius: 4px;
  overflow: hidden;
}

.place dt {
  background: #fafafa;
  font-weight: 600;
  width: 40%;
  margin: 0;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
}

.place dd {
  width: 60%;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
}

.place dl a {
  text-decoration: none;
}

.place dl a:hover {
  text-decoration: underline;
}

.place dl a i.fa+span {
  margin-left: 5px;
}

.place span.icon {
  display: inline-block;
  width: 20px;
}

.place span.speed {
  margin-left: 5px;
}

.place .content {
  line-height: 1.6;
}

.place .content strong {
  font-weight: 600;
}

.place .images {
  margin-top: 20px;
  overflow: auto;
  white-space: nowrap;
}

.place .images img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  display: inline-block;
}

.place .images img+img {
  margin-left: 10px;
}



/* ========== Buttons ========== */

.buttons {
  margin: 20px 0 0 0;
}

button,
a.button {
  padding: 8px 14px;
  display: inline-block;
  border-radius: 8px;
  text-decoration: none;
  background: #eee;
  color: #444;
  font-weight: 400;
  margin: 0 10px 10px 0;
  border: none;
}

button:hover,
a.button:hover {
  opacity: 0.9;
}

button.primary,
a.button.primary {
  background: #FAF0DC;
}

a.button i.fa+span {
  margin-left: 8px;
}

a.button.maps {
  background: #4285f4;
  color: white;
}

a.button.facebook {
  background: #3b5998;
  color: white;
}

a.button.instagram {
  background: #c13584;
  color: white;
}

a.button.telephone {
  background: #9b59b6;
  color: white;
}

a.button.website {
  background: #2ecc71;
  color: white;
}



/* ========== Submit ========== */

.submit {
  max-width: 700px;
  margin: 0 auto;
}

.submit h2 {
  padding: 8px 0;
  margin: 0 0 20px 0;
  border-bottom: solid 2px black;
}

.submit form {
  margin-top: 30px;
}

.submit .banner {
  border-radius: 4px;
  background: #DFF2BF;
  color: #4F8A10;
  padding: 10px;
  text-align: center;
  margin: 30px 0;
}

.submit .banner.failure {
  background-color: #FFBABA;
  color: #D8000C;
}



/* ========== Form ========== */

form h3 {
  margin-top: 30px;
}

form label {
  display: block;
  font-weight: 500;
}

form .rows {
  border: solid 1px #eee;
  border-radius: 4px;
}

form .row {
  display: flex;
  align-items: center;
}

form .row + .row {
  border-top: solid 1px #eee;
}

form .form-label {
  flex-basis: 40%;
  padding: 20px;
  background: #fafafa;
  border-right: solid 1px #eee;
}

form .form-field {
  padding: 20px;
  flex-basis: 60%;
}

form .form-field select,
form .form-field input,
form .form-field textarea {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 5px 8px;
}

form input.touched,
form select.touched {
  background: #fff9e3;
}

form .info {
  margin-top: 5px;
}
