
/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-family: 'Roboto', sans-serif;
}

.wrap {
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.scroll-wrapper {
  overflow-x: auto;
  padding-bottom: 10px;
}

[v-cloak] {
  display: none;  
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
  margin-top: 30px;
  position: relative;
}

header h1 {
  font-weight: normal;
}

header .github {
  position: absolute;
  top: 10px;
  right: 0;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
  display: flex;
  border: solid 1px #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: auto;
}

nav > a {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

nav > a:hover {
  background: #eee;
  text-decoration: none;
}

nav > a + a {
  border-left: solid 1px #ccc;
}

/* ==========================================================================
   Map
   ========================================================================== */

.map {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

#map {
  height: 300px;
}

/* ==========================================================================
   Search
   ========================================================================== */

.search {
  margin-bottom: 20px;
}

.search input {
  width: 100%; 
  border-radius: 4px;
  border: solid 1px #ccc;
  padding: 8px 10px;
}

/* ==========================================================================
   Table
   ========================================================================== */

table {
  border-collapse: collapse;
}

td {
  padding: 8px 16px;  
}

th {
  font-weight: bold;
  text-align: left;
  border-bottom: solid 2px #eee;
  padding: 0px 16px;
  cursor: pointer;
}

td {
  white-space: nowrap;
  border-bottom: solid 1px #eee;
}

td.empty {
  padding: 16px;
}

td.truncate {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

tr .edit {
  visibility: hidden;
}

tr:hover .edit {
  visibility: visible;
}

.closed {
  text-decoration: line-through;
  opacity: 0.2;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.blue {
  color: #3498db;
}

.green {
  color: #27ae60;
}

.yellow {
  color: #f1c40f;
}

.orange {
  color: #f39c12;
}

.red {
  color: #e74c3c;
}

.grey {
  color: #ccc;
}

.rating-star {
  margin-left: 3px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  text-align: center;
  padding: 30px 10px;
}
