<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="pqvst">

    <!-- TODO: Fix responsive css... -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <meta charset="utf-8">
    <meta property="og:logo" content="{{site.url}}/assets/img/logo.png">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="{{site.url}}/assets/img/scene.png">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.19/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link href="/assets/css/index.css" rel="stylesheet">

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151353350-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-151353350-1');
    </script>

  </head>
  <body>
    {{content}}
	</body>
</html>
